@page
@using APPSEC_Assignment2.ViewModels;
@using Microsoft.AspNetCore.Identity
@model APPSEC_Assignment2.Pages.IndexModel
@inject SignInManager<Register> SignInManager

@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	@if (SignInManager.IsSignedIn(User))
	{
		<h1>User Info</h1>
		<div>
			<h1 class="display-4">Account Details</h1>
			<div>
				<div>
					<p>First Name: @Model.FirstName </p>
					<p>First Name: @Model.LastName </p>
					<p>Email: @User.Identity.Name</p>
					<p>First Name: @Model.FirstName</p>
					<p>Last Name: @Model.LastName</p>
					<p>Gender: @Model.Gender</p>
					<p>NRIC: @Model.NRIC</p>
					<p>Date of Birth: @Model.DOB</p>
					<p>Resume: @Model.Resume</p>
					<p>Who Am I?: @Model.WAI</p>

					<a href="ChangePassword" class="btn btn-primary">Change Password</a>

				</div>

					<a href="Activate2FA" class="btn btn-primary">Click here to enable 2FA</a>
			</div>
		</div>

	}
	else
	{
		<h1 class="display-4">Please login to view details</h1>
	}


    
</div>



