@page
@using APPSEC_Assignment2.ViewModels;
@using Microsoft.AspNetCore.Identity
@model APPSEC_Assignment2.Pages.IndexModel
@inject SignInManager<Register> SignInManager

@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Home page";
}


<script>

</script>

<div class="text-center">
	@if (SignInManager.IsSignedIn(User))
	{
		<h1>User Info</h1>
		<div>
			<h1 class="display-4">Welcome, @Model.FirstName @Model.LastName</h1>
			<div>
				<div class="card-body">
					<h5 class="card-title">Account Details</h5>
					<p class="card-text">Email: @User.Identity.Name</p>
					<p class="card-text">First Name: @Model.FirstName</p>
					<p class="card-text">Last Name: @Model.LastName</p>
					<p class="card-text">Gender: @Model.Gender</p>
					<p class="card-text">NRIC: @Model.Nric</p>
					<p class="card-text">Date of Birth: @Model.DateOfBirth</p>
					<p class="card-text">Resume: <a href="Resume/@Model.Email/@Model.ResumeFile">@Model.ResumeFile</a></p>
					<p class="card-text">Who Am I?: @Html.Raw(Model.WAI)</p>
					<a href="ChangePassword" class="btn btn-primary">Change Password</a>
					<a href="Enable2FA" class="btn btn-primary">Enable 2FA</a>
				</div>
			</div>
		</div>

	}


    
</div>



